APP_ENV=dev
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=aurionuser
DB_PASS=coolpassword
DB_NAME=auriondb

MAIL_BACKEND=jmap  
JMAP_URL=hello 
JMAP_USERNAME=hello  
JMAP_PASSWORD=goodbye

AUTH_FAKE_SALT_SECRET="e4jQQdVPo4+71ceUgE2K+6XHjbNJtj3pCP94BXjMIiY="
STALWART_API_KEY=shshs
#Use openssl rand -base64 32 to generate