APP_ENV=dev
APP_PORT=8081#8080 already taken by stalwart sometimes

DB_HOST=localhost
DB_PORT=5432
DB_USER=aurionuser
DB_PASS=coolpassword
DB_NAME=auriondb

MAIL_BACKEND=smtp  #maybe imap
# IMAP_URL=hello 
SMTP_URL=votre-serveur.com:465

AUTH_FAKE_SALT_SECRET="e4jQQdVPo4+71ceUgE2K+6XHjbNJtj3pCP94BXjMIiY="
#Use openssl rand -base64 32 to generate
CORS_ALLOWED_ORIGINS=https://vault.mail.aurionmail.org,http://localhost:5173

STALWART_URL=https://jmap.fastmail.com/.well-known/jmap
STALWART_API_KEY=hello